Program to create a tuple

In [2]:
a = tuple(input('Enter tuple elements:'))
print(a)
print(type(a))

Enter tuple elements:85257854
('8', '5', '2', '5', '7', '8', '5', '4')
<class 'tuple'>

Program to create tuple with different data types

In [4]:
t = ("arsha",8,6.9,True,2.8,'maya',5)
print(t)
print(type(t))

('arsha', 8, 6.9, True, 2.8, 'maya', 5)
<class 'tuple'>

Program to create tuple with numbers and print one item

In [5]:
a = tuple(input('Enter integers for tuple elements:'))
print(a)
print("any one integer item in tuple:", int(a[3]))

Enter integers for tuple elements:58841551
('5', '8', '8', '4', '1', '5', '5', '1')
any one integer item in tuple: 4

Program to add an item in tuple

In [6]:
t = (2, 3, 6, 7, 18)
t1 = t + (17,)
print(t1)

(2, 3, 6, 7, 18, 17)

In [7]:
t = (2, 3, 6, 7, 18)
l1 = list(t)
print(l1)
l1.append(17)
t1 = tuple(l1)
print(t1)

[2, 3, 6, 7, 18]
(2, 3, 6, 7, 18, 17)

Program to convert tuple to a string

In [8]:
t = tuple(input('Enter tuple elements:'))
print(t)
print(type(t))
s = str(t)
print(s)
print(type(s))

Enter tuple elements:2665gfggv
('2', '6', '6', '5', 'g', 'f', 'g', 'g', 'v')
<class 'tuple'>
('2', '6', '6', '5', 'g', 'f', 'g', 'g', 'v')
<class 'str'>

Program to get 4th element from first & last of a tuple

In [9]:
t = tuple(input('Enter tuple elements:'))
print(t)
print('5th element from first:', t[4])
print('5th element from last:', t[-5])

Enter tuple elements:255462695956
('2', '5', '5', '4', '6', '2', '6', '9', '5', '9', '5', '6')
5th element from first: 6
5th element from last: 9